#damai_script_play_cell {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4.5px;
  padding-top: 4.5px;
}
#play_cell_bg {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  align-items: center;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
}
#image_back_view {
  width: 63px;
  background-color: #ffffff;
  height: 84px;
  margin-right: 12px;
  align-items: stretch;
  justify-content: flex-end;
}
#cover_img {
  border-radius: 7px;
  background-color: #ffffff;
  flex-grow: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#right_top_tag {
  height: 13px;
  background-image: linear-gradient(to right, #c68557 0%, #ebb189 95%);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  max-width: 80px;
  margin-right: 3px;
}
#tab_label {
  text-overflow: ellipsis;
  color: #ffffff;
  font-size: 9px;
  text-align: center;
  fit-content: true;
  margin-right: 3px;
  margin-left: 3px;
  flex-shrink: 1;
}
#content_info_view {
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
#play_title {
  text-overflow: ellipsis;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  lines: 2;
  text-align: left;
  width: 100%;
  fit-content: true;
}
#score_and_rank {
  width: 100%;
  align-items: center;
  height: 20px;
  margin-top: 3px;
}
#score_desc {
  width: 100%;
  text-overflow: ellipsis;
  color: #ff8f3f;
  font-size: 12px;
  fit-content: true;
  height: 14px;
  font-weight: 400;
}
#score_num {
  text-overflow: ellipsis;
  height: 16px;
  color: #ff8f3f;
  font-size: 14px;
  font-weight: 500;
  fit-content: true;
  overflow: visible;
  text-align: left;
  margin-bottom: 1px;
  margin-left: 2px;
  width: 100%;
}
#player_introduce_view {
  width: 100%;
  align-items: center;
  margin-top: 6px;
}
#play_introduce {
  text-overflow: ellipsis;
  color: #4d4d56;
  font-size: 12px;
  fit-content: true;
  width: 100%;
}
